:root {
  --the-red: #e11a14;
  --black: #000;
  --the-grey: #474747;
  --the-light-grey: #7e7e7e;
  --black-2: black;
  --white: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  color: #acacac;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.7em;
  font-weight: 700;
  line-height: 30px;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  height: 30%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.image {
  width: 33%;
  display: block;
}

.in_botter {
  aspect-ratio: auto;
  object-fit: fill;
  width: 33%;
  display: inline-block;
  overflow: visible;
}

.in_botter:hover {
  outline-offset: 3px;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: #545454;
  background-clip: border-box;
  outline: 3px #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.image-3 {
  width: 33%;
  display: block;
}

.body {
  background-color: var(--the-red);
  color: var(--black);
  text-align: center;
  cursor: none;
  flex-direction: column;
  flex: 0 1 0;
  justify-content: center;
  align-items: center;
  max-width: 100svw;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  overflow: visible;
}

.section {
  clear: both;
  cursor: auto;
  background-color: rgba(0, 0, 0, 0);
  height: 20em;
  padding: 20px;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.poster {
  object-fit: fill;
  width: 100%;
  display: block;
}

.image-4 {
  text-align: center;
  width: 100%;
}

.image-5 {
  float: none;
  aspect-ratio: auto;
  text-align: center;
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  object-position: 50% 50%;
  background-clip: border-box;
  width: auto;
  height: 10em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.image-6 {
  display: none;
}

.groom {
  width: 33%;
  display: block;
  position: relative;
}

.image-7 {
  width: 100px;
}

.in_botter-copy {
  aspect-ratio: auto;
  object-fit: fill;
  width: 100%;
  display: inline-block;
  overflow: visible;
}

.in_botter-copy:hover {
  opacity: .36;
  outline-offset: 3px;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: rgba(84, 84, 84, 0);
  background-image: url('../images/使用素材_工作區域-1-複本-7.png');
  background-position: 50%;
  background-size: 100%;
  background-clip: border-box;
  outline: 3px #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.main {
  position: static;
}

.background {
  z-index: -2;
  float: none;
  clear: left;
  aspect-ratio: auto;
  object-fit: fill;
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image-8 {
  z-index: -1;
  width: 100%;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-3 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  padding: 20px;
  display: grid;
}

.title {
  float: none;
  color: #bcbcbc;
  text-align: left;
  padding-top: 9px;
  font-family: Times New Roman, TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}

.image-9 {
  margin-left: -3px;
}

.image-10 {
  margin-left: 6px;
}

.image-11 {
  margin-top: 11px;
  margin-left: -4px;
}

.image-12 {
  margin-bottom: -37px;
}

.link-block {
  margin-top: -20px;
  margin-bottom: 5px;
  margin-left: -23px;
}

.link-block-2 {
  margin-top: -17px;
  margin-left: -24px;
}

.link-block-3 {
  margin-top: -12px;
  margin-left: -17px;
}

.link-block-4 {
  margin-left: -27px;
}

.link-block-5 {
  text-align: center;
  object-fit: contain;
  height: 10em;
  display: block;
  position: static;
  top: auto;
}

.mainlink {
  color: red;
  text-align: center;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 2vw;
  font-weight: 300;
  line-height: 2vw;
  text-decoration: none;
}

.menu {
  text-align: center;
  object-fit: none;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mainlink2 {
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  text-indent: 0;
  white-space: normal;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 26px;
  text-decoration: underline;
  display: block;
}

.mainlink2:hover {
  color: #fff;
}

.menu2 {
  direction: rtl;
  word-break: normal;
  overflow-wrap: normal;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  padding: 0 5rem 0 7rem;
  display: flex;
}

.vroom {
  z-index: 2;
  clear: both;
  color: var(--black);
  text-align: center;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 3.9vw;
  font-weight: 300;
  line-height: 39px;
  text-decoration: none;
  transition: word-spacing .2s;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  bottom: auto;
  left: auto;
  right: auto;
  transform: translate(0);
}

.vroom:hover {
  outline-offset: 0px;
  -webkit-text-stroke-width: 8px;
  word-break: normal;
  outline: 3px red;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  text-decoration: line-through;
  transform: none;
}

.mousea {
  opacity: 1;
  pointer-events: none;
  mix-blend-mode: normal;
  background-color: rgba(255, 0, 0, 0);
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  padding-right: 0;
  display: flex;
  position: fixed;
  top: 50vh;
  bottom: auto;
  left: 50vw;
  right: auto;
}

.body-2 {
  background-color: #999;
  font-family: Inter, sans-serif;
  overflow: visible;
}

.bignavbar {
  direction: ltr;
  color: var(--black);
  text-transform: none;
  column-count: auto;
  word-break: normal;
  overflow-wrap: anywhere;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bignavbar:hover {
  font-weight: 800;
}

.bignavbar.w--current {
  color: #c7c7c7;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #bebebe;
  overflow-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-style: normal;
}

.container {
  clear: none;
  color: #fff;
  flex-flow: column wrap;
  align-content: stretch;
  align-self: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
}

.nav-menu {
  color: #e7e7e7;
  flex: 0 auto;
  justify-content: space-between;
  display: flex;
  position: static;
  left: 50%;
  right: auto;
}

.brand {
  font-family: Bricolage Grotesque, sans-serif;
}

.nav-link {
  color: #fff;
}

.italic-text {
  text-transform: none;
  font-style: normal;
}

.italic-text-2 {
  font-style: normal;
}

.imglayout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  aspect-ratio: auto;
  color: #000;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: red;
  object-fit: fill;
  background-color: rgba(102, 77, 77, 0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 60svw;
  height: auto;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.conset {
  flex-direction: row;
  align-items: flex-start;
  width: auto;
  max-width: none;
  height: auto;
  margin-top: 10svh;
  display: flex;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.workimg {
  width: 100%;
  height: auto;
  margin: 0 auto 1em 0;
}

.introductorytext {
  color: #000;
  background-color: rgba(230, 142, 142, 0);
  width: 39svw;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

.cnintroduce {
  color: #000;
  text-align: justify;
  margin-top: 1em;
  font-family: Noto Sans TC, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 145%;
}

.heading {
  color: #000;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 25px;
}

.work-link {
  border: 2px solid var(--the-grey);
  background-color: var(--the-light-grey);
  outline-offset: 0px;
  color: #000;
  text-align: left;
  -webkit-text-fill-color: inherit;
  cursor: pointer;
  background-clip: border-box;
  border-radius: 20px;
  outline: 3px #000;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 1em;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 800;
  line-height: 140%;
  text-decoration: none;
  position: static;
}

.work-link:hover {
  font-weight: 800;
  text-decoration: line-through;
}

.work-link:active {
  outline-offset: 0px;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #000;
  mix-blend-mode: normal;
  border: 0 solid #000;
  outline: 3px #000;
}

.div-block-5 {
  display: block;
  position: static;
}

.flex-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em auto 1em 0;
}

.logoimg {
  color: #f7f7f7;
  cursor: crosshair;
  width: 50%;
  margin: 20px auto;
  display: block;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.logoimg.w--current {
  position: static;
  top: 0%;
  bottom: auto;
  left: auto;
  right: auto;
}

.img_info {
  z-index: 0;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0;
  padding-right: 0;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image-15 {
  position: absolute;
  top: -40px;
  left: -40px;
}

.grid {
  clear: right;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  direction: ltr;
  flex-flow: wrap;
  grid-template: "." 1fr
                 "."
                 "."
                 "."
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 20vh auto auto;
  padding-bottom: 8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  transition: width .2s;
  display: grid;
}

.workiinfo {
  margin-top: -15px;
}

.work {
  mix-blend-mode: darken;
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform .3s cubic-bezier(.165, .84, .44, 1);
  overflow: hidden;
}

.work:hover {
  background-color: var(--the-light-grey);
  pointer-events: auto;
  -webkit-text-stroke-width: 4px;
  mix-blend-mode: difference;
  width: 100%;
  font-family: Bricolage Grotesque, sans-serif;
  font-weight: 800;
  text-decoration: underline;
  transform: skew(0deg, 5deg)scale(1.1);
}

.work:active {
  transform: skew(2deg, -3deg)scale(1.6);
}

.work:visited {
  opacity: .5;
  filter: blur(1px);
}

.bg {
  aspect-ratio: auto;
  object-fit: fill;
  flex: 0 auto;
  width: 260vw;
  max-width: none;
  display: block;
  position: static;
  top: 0%;
  bottom: auto;
  left: auto;
  right: auto;
  overflow: visible;
}

.div-block-6 {
  aspect-ratio: auto;
  color: #fff;
  object-fit: fill;
  background-color: #8a8a8a;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.menu-button {
  background-image: url('../images/主視覺黑_more.png');
  background-position: 0 0;
  background-size: auto;
}

.new-bar {
  direction: ltr;
  color: var(--black);
  text-transform: none;
  column-count: auto;
  word-break: normal;
  overflow-wrap: anywhere;
  cursor: crosshair;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  margin-right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.new-bar:hover {
  background-color: var(--the-grey);
  -webkit-text-stroke-width: 2px;
  border-radius: 0;
  font-weight: 800;
}

.new-bar.w--current {
  background-color: var(--the-red);
  color: var(--the-grey);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--the-grey);
  overflow-wrap: break-word;
  font-style: normal;
  overflow: visible;
}

.div-block-8 {
  display: none;
  overflow: visible;
}

.coverimage {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.coverlink {
  outline-offset: 0px;
  color: #000;
  text-align: center;
  outline: 3px #000;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2px 3px 0;
  font-family: Noto Sans TC, sans-serif;
  font-size: .9em;
  font-weight: 800;
  line-height: 140%;
  text-decoration: none;
  position: static;
}

.coverlink:hover {
  font-weight: 800;
  text-decoration: line-through;
}

.coverlink:active {
  outline-offset: 0px;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #000;
  mix-blend-mode: normal;
  border: 0 solid #000;
  outline: 3px #000;
}

.divbar {
  display: none;
}

.new-bar_home {
  direction: ltr;
  color: var(--black);
  text-transform: none;
  column-count: auto;
  word-break: normal;
  overflow-wrap: anywhere;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.new-bar_home:hover {
  font-weight: 800;
}

.new-bar_home.w--current {
  color: #c7c7c7;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #bebebe;
  overflow-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  overflow: visible;
}

.inter {
  margin: 1em .5em 0 0;
  padding-left: 0;
  padding-right: 0;
  font-family: Noto Sans TC, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1em;
}

.inter_all {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5em;
  display: flex;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.collection-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-items: start;
  display: grid;
}

.collection-list-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.name {
  font-size: 2.5em;
}

.inter_title {
  color: var(--the-grey);
  margin: 1em .9em 0 0;
  padding-left: 0;
  padding-right: 0;
  font-family: Noto Sans TC, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: .7em;
}

.inter_all2 {
  flex-direction: row;
  display: block;
}

.line {
  border: 1px solid var(--the-light-grey);
  margin-top: 1.5em;
}

.enintroduce {
  color: #000;
  text-align: left;
  margin-top: 0;
  font-size: .9em;
  font-weight: 600;
  line-height: 103%;
}

.logoimg_in {
  color: #f7f7f7;
  width: 50%;
  margin: 20px auto;
  display: block;
  top: 0;
}

.image-17 {
  object-fit: cover;
  width: 100%;
  height: 500vh;
}

.background_home {
  z-index: -2;
  display: block;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
}

.home_nav {
  position: fixed;
  top: 0;
}

.autoscoll {
  -webkit-text-fill-color: inherit;
  background-color: #a76cff;
  background-clip: border-box;
  width: auto;
  height: 110px;
  box-shadow: inset 0 17px 5px rgba(0, 0, 0, .2);
}

.link-block-6 {
  z-index: 3;
  background-color: #ffd1d1;
  width: 100px;
  height: 100px;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.html-embed {
  background-color: #ff5353;
  width: 100%;
  height: 100%;
}

.scollbar {
  width: 100%;
  height: 10px;
}

.ooowh {
  width: 100%;
  max-width: none;
  height: 1000vh;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.testbody {
  background-image: url('../images/主視覺_BG.png');
  background-position: 50% 0;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;
  height: 1000vh;
}

.html-embed-2 {
  margin: 24px 44px;
}

.central-mark {
  pointer-events: auto;
  color: #000;
  text-align: center;
  cursor: none;
  font-weight: 800;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.info_text {
  pointer-events: none;
  color: #000;
  text-align: left;
  flex-wrap: wrap;
  flex: 0 auto;
  order: 0;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-size: 2.3vw;
  font-weight: 300;
  display: flex;
  position: absolute;
  top: 80vh;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.info_cn {
  flex: none;
  font-family: Noto Sans TC, sans-serif;
  font-weight: 600;
}

.info_en {
  flex: none;
  font-weight: 600;
}

.info_img {
  width: 2em;
}

.to-top {
  border: 2px solid var(--the-grey);
  background-color: var(--the-grey);
  text-align: center;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-radius: 21em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10em;
  margin: 10px auto;
  display: flex;
}

.to-top.w--current {
  background-color: var(--the-light-grey);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Bricolage Grotesque, sans-serif;
  font-weight: 800;
  display: flex;
}

.info_text_2 {
  grid-column-gap: 10em;
  grid-row-gap: 7.5em;
  pointer-events: none;
  color: #000;
  text-align: left;
  flex-wrap: wrap;
  flex: 1;
  order: 0;
  justify-content: space-between;
  align-self: auto;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-size: 2.3vw;
  font-weight: 300;
  display: flex;
  position: absolute;
  top: 110vh;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.info_en_2 {
  flex: none;
  font-weight: 800;
}

.info_en_2:hover {
  -webkit-text-stroke-width: 10px;
}

.screenattention {
  background-color: rgba(0, 0, 0, .15);
  justify-content: center;
  align-self: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-block {
  color: var(--the-light-grey);
  background-color: rgba(0, 0, 0, .6);
  border: 10px solid #000;
  border-radius: 40px;
  margin: auto;
  padding: 3em;
  font-family: Noto Sans TC, sans-serif;
}

.info_text3 {
  color: var(--the-grey);
  text-align: left;
  flex-wrap: wrap;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-size: 1em;
  font-weight: 300;
  display: flex;
  position: static;
  top: 331vh;
  bottom: auto;
  left: auto;
  right: auto;
}

.youtube {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

.info_en_3 {
  text-align: center;
  flex: none;
  margin-top: 3em;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 16vw;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}

.info_en_3:hover {
  -webkit-text-stroke-width: 10px;
}

.div-block-9 {
  background-color: #0004ff;
  border-radius: 60px;
}

.bold-text {
  font-family: Noto Sans TC, sans-serif;
}

.topnextbuter {
  border: 2px solid var(--the-grey);
  background-color: var(--the-light-grey);
  text-align: center;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-radius: 21em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 3em 10px;
  display: flex;
}

.topnextbuter.w--current {
  background-color: var(--the-light-grey);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Bricolage Grotesque, sans-serif;
  font-weight: 800;
  display: flex;
}

.topandnext {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8em;
  margin: 10px auto;
  display: flex;
}

.topandnext.w--current {
  background-color: var(--the-light-grey);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Bricolage Grotesque, sans-serif;
  font-weight: 800;
  display: flex;
}

.link-block-7 {
  background-color: #faa4a4;
}

.peopleimg {
  z-index: -2;
  object-fit: cover;
  object-position: 50% 0%;
  width: 9.4em;
  height: 13em;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
}

.peopleimg:hover {
  opacity: 0;
}

.peoplegrid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  direction: ltr;
  -webkit-text-fill-color: inherit;
  cursor: crosshair;
  object-fit: cover;
  object-position: 50% 50%;
  background-clip: padding-box;
  flex-flow: column;
  grid-template: "Area Area Area Area Area Area Area" minmax(auto, 11.25em)
                 ". . . . . . ." minmax(auto, 11.25em)
                 / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 50svh;
  padding: 20px 21px;
  display: flex;
  overflow: hidden;
}

.peopleground {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  object-position: 50% 50%;
  flex-flow: row;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  justify-items: end;
  display: grid;
}

.peopleimg_deep {
  opacity: 0;
  cursor: pointer;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: width .2s, opacity .5s cubic-bezier(.55, .055, .675, .19);
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.peopleimg_deep:hover {
  opacity: 1;
  display: block;
}

.people_in {
  clear: both;
  outline-offset: 0px;
  word-break: break-all;
  mix-blend-mode: normal;
  object-fit: cover;
  outline: 3px #000;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  transition: width .2s ease-in-out;
  display: flex;
  position: relative;
  overflow: visible;
}

.people_in:hover {
  width: 500px;
}

.people_name {
  z-index: 1;
  pointer-events: none;
  color: var(--the-grey);
  word-break: keep-all;
  overflow-wrap: anywhere;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  display: none;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.footer {
  background-color: var(--the-grey);
  cursor: crosshair;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  position: static;
  bottom: 0;
}

.footer_link {
  pointer-events: auto;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.people_teanname {
  color: var(--black);
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer_div {
  flex-flow: column;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: baseline;
  align-items: center;
  height: 100%;
  margin: 2em auto;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
}

.footerlink {
  clear: both;
  outline-offset: 0px;
  color: #000;
  text-align: left;
  text-transform: capitalize;
  word-break: keep-all;
  overflow-wrap: anywhere;
  outline: 3px #000;
  align-self: flex-start;
  margin: 0 auto;
  padding-top: .25em;
  padding-bottom: .25em;
  font-family: Noto Sans TC, sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 140%;
}

.footerlink:hover {
  font-weight: 800;
  text-decoration: line-through;
}

.footerlink:active {
  outline-offset: 0px;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #000;
  mix-blend-mode: normal;
  border: 0 solid #000;
  outline: 3px #000;
}

.heading-3 {
  color: var(--the-red);
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.5em;
}

.footer_info_text {
  color: #000;
  text-align: left;
  flex-wrap: wrap;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.3vw;
  font-weight: 300;
  display: flex;
}

.footer_container {
  justify-content: space-between;
  align-items: flex-start;
  max-width: none;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

.footerlink2 {
  direction: ltr;
  color: var(--the-red);
  text-align: center;
  letter-spacing: 3px;
  text-indent: 0;
  text-transform: capitalize;
  word-break: keep-all;
  overflow-wrap: anywhere;
  outline: 3px #000;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: Noto Sans TC, sans-serif;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.9em;
  transition: letter-spacing .2s;
}

.footerlink2:hover {
  letter-spacing: 5px;
  -webkit-text-stroke-width: 3px;
  font-weight: 800;
  text-decoration: none;
}

.footerlink2:active {
  outline-offset: 0px;
  mix-blend-mode: normal;
  border: 0 solid #000;
  outline: 3px #000;
}

.foot_info_img {
  width: 2em;
}

.allplayer_navbar {
  display: none;
}

.eyeball_body {
  background-color: var(--the-red);
  color: var(--black);
  text-align: center;
  cursor: crosshair;
  overscroll-behavior-x: none;
  flex-direction: column;
  flex: 0 1 0;
  justify-content: center;
  align-items: center;
  max-width: 100svw;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  overflow: hidden;
}

.fullcontainer {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.eyeballscript {
  overflow: hidden;
}

.eyeball_div {
  display: none;
}

.scrollbutton {
  color: #000;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 800;
}

.bigscroll {
  width: 10px;
  height: 10px;
}

.vroomsitecom {
  background-image: url('../images/主視覺-背景2.jpg');
  background-position: 50% 0;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 1000vh;
  position: static;
}

.div-block-10 {
  position: absolute;
  bottom: 0;
}

.vroomsitefooter {
  position: relative;
  top: auto;
  bottom: 0;
}

.vroombody {
  background-color: var(--the-red);
  color: var(--black);
  text-align: center;
  cursor: crosshair;
  flex-direction: column;
  flex: 0 1 0;
  justify-content: center;
  align-items: center;
  max-width: 100svw;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  overflow: visible;
}

.eyeball_logo {
  pointer-events: none;
  cursor: crosshair;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url('../images/Vroom_An.gif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.eyeball_button {
  background-color: var(--black-2);
  color: var(--the-light-grey);
  justify-content: flex-start;
  align-items: flex-end;
  width: 15vw;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: .9em;
  display: block;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.dateads {
  background-color: var(--the-grey);
  opacity: .9;
  cursor: auto;
  border: 2px solid #000;
  border-radius: 10px;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 30em;
  max-height: 25em;
  padding: 10px;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 10%;
  left: auto;
  right: 10%;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .2);
}

.button {
  color: var(--black);
  background-color: rgba(56, 152, 236, 0);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.button:hover {
  color: var(--the-red);
  border-radius: 10px;
  transform: scale(1.2);
}

.dateparagraph {
  text-align: left;
  letter-spacing: 1px;
  text-transform: lowercase;
  white-space: pre-line;
  overflow-wrap: break-word;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 100%;
  font-weight: 700;
  line-height: 1.6em;
  text-decoration: none;
  overflow: auto;
}

.dateh3 {
  color: var(--black-2);
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.9em;
  font-style: italic;
}

.dateh4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .9em;
}

.shopslider {
  object-fit: cover;
  background-color: rgba(221, 221, 221, 0);
  height: 100vh;
  margin-top: 10em;
  margin-bottom: 10em;
}

.mask {
  object-fit: cover;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}

.shopimg {
  object-fit: cover;
  width: 100%;
  max-width: 110%;
  height: 100%;
}

.shoplist {
  z-index: 2;
  cursor: crosshair;
  background-color: rgba(225, 26, 20, .9);
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;
  min-width: 100px;
  max-width: 50vw;
  min-height: 100px;
  padding: 2% 2% 1% 1%;
  display: flex;
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 5%;
  right: auto;
  transform: rotate(-3deg);
}

.shoptxtlinl {
  color: #000;
  cursor: pointer;
  justify-content: space-between;
  width: 32vw;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 1em;
  padding-bottom: .5em;
  font-size: .8em;
  transition: transform .1s;
  display: flex;
  position: relative;
}

.shoptxtlinl:hover {
  -webkit-text-stroke-width: 2px;
  transform: scale(1.05);
}

.shopgoods {
  border: 3px solid var(--the-red);
  width: 70vw;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5%;
  position: relative;
  overflow: hidden;
}

.shopcon {
  grid-column-gap: 50vh;
  grid-row-gap: 50vh;
  cursor: crosshair;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.shoph1 {
  color: var(--black-2);
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 5em;
}

.shoph4 {
  text-align: center;
  border: 1px solid #000;
  border-radius: 100%;
  width: 2em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
}

.shoph4:hover {
  font-weight: 900;
}

.shoph3 {
  color: #000;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 800;
  position: relative;
  left: auto;
  right: 5%;
}

.shopgoodinfo {
  text-align: justify;
  flex: 1;
  font-weight: 500;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.shopbody {
  background-image: url('../images/01.jpg');
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  font-family: Inter, sans-serif;
  overflow: visible;
}

.shopbuy {
  border: 2px solid var(--the-grey);
  color: var(--the-grey);
  text-align: center;
  border-radius: 1.5em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  font-weight: 500;
  transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
  display: inline-flex;
}

.shopbuy:hover {
  border-width: 5px;
  border-color: var(--black);
  background-color: var(--black);
  color: var(--the-light-grey);
}

.shopcard {
  background-color: var(--the-grey);
  opacity: .9;
  cursor: pointer;
  width: 5em;
  padding-top: .5em;
  position: absolute;
  top: -2%;
  bottom: 20%;
  left: auto;
  right: -10%;
}

.shopcardtxt {
  color: var(--the-light-grey);
  text-transform: uppercase;
  font-size: 2.4em;
  font-weight: 400;
  transform: rotate(90deg);
}

.div-block-11 {
  width: 100%;
  height: 90vh;
}

.shopspeace {
  width: 100%;
  height: 100vh;
}

.shopgoodsh4 {
  border: 1px solid var(--the-red);
  color: var(--the-red);
  text-align: center;
  border-radius: 100%;
  width: 2.3em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.shopgoodsh4:hover {
  font-weight: 900;
}

.shopgoodsh2 {
  color: var(--the-red);
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.shopgoodsh3 {
  color: var(--the-red);
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: 600;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.shopgoodinfo-b {
  color: var(--the-red);
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2em;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 15%;
}

.shopgoodinfo-b.tc {
  font-family: Noto Sans TC, sans-serif;
}

.shopgoodslogo {
  display: none;
}

.shopbuyphone {
  border: 2px solid var(--the-grey);
  color: var(--the-grey);
  text-align: center;
  border-radius: 1.5em;
  width: 100%;
  height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  font-weight: 500;
  transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
  display: block;
}

.shopbuyphone:hover {
  border-width: 5px;
  border-color: var(--black);
  background-color: var(--black);
  color: var(--the-light-grey);
}

.shopgoodinfo2 {
  font-size: 1.1em;
  font-weight: 800;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 15%;
}

.tc {
  font-family: Noto Sans TC, sans-serif;
  font-size: .8em;
  font-weight: 700;
}

.shopgoodsh2en {
  color: var(--the-red);
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: auto;
  right: 0%;
}

.shopgoodsh2cn {
  color: var(--the-red);
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 0%;
}

.shopgoods_id {
  pointer-events: none;
  width: 5px;
  height: 100vh;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.shopbuyphonediv {
  display: none;
}

.shopgoodsprcn {
  color: var(--the-red);
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .bignavbar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
  }

  .nav-menu {
    z-index: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .imglayout {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .conset {
    flex-flow: column;
  }

  .introductorytext {
    z-index: 2;
    width: 100%;
    position: static;
  }

  .logoimg {
    width: 70%;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-button {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    height: 5em;
  }

  .name {
    position: static;
  }

  .screenattention {
    background-color: rgba(255, 0, 0, .05);
    display: none;
  }

  .youtube {
    object-fit: cover;
  }

  .topandnext {
    margin-bottom: 10em;
  }

  .footerlink2 {
    letter-spacing: 2px;
  }

  .foot_info_img {
    font-size: 1.5em;
  }

  .shoplist {
    min-width: auto;
    padding-top: 3%;
  }

  .shoptxtlinl {
    width: 35vw;
    padding-top: 7%;
    padding-bottom: .5em;
  }

  .shoptxtlinl.w--current {
    outline-offset: 0px;
    outline: 1px solid #000;
    text-decoration: line-through;
  }

  .shopgoods {
    width: 85vw;
    margin-right: 0;
  }

  .shopcon {
    grid-column-gap: 20vh;
    grid-row-gap: 20vh;
  }

  .shoph1 {
    font-size: 4em;
  }

  .shoph3 {
    font-size: 1.4em;
  }

  .shopgoodinfo {
    padding-left: 50px;
    font-size: 1em;
    line-height: 1em;
  }

  .shopbuy {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5em;
    display: flex;
  }

  .shopcard {
    width: 4em;
    line-height: 15px;
  }

  .shopcardtxt {
    font-size: 2em;
  }

  .shopbuyphone {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5em;
  }

  .shopgoodinfo2 {
    padding-left: 50px;
    font-size: 1em;
    line-height: 1em;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-image: none;
  }

  .mousea {
    display: none;
  }

  .body-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: visible;
  }

  .bignavbar {
    width: 100vw;
    height: 20vh;
    display: block;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .bignavbar.w--current {
    background-color: red;
  }

  .container {
    z-index: -3;
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: flex;
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .nav-menu {
    z-index: auto;
    background-color: var(--the-grey);
    text-align: center;
    text-transform: none;
    align-content: flex-start;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .nav-menu:active {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .imglayout {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }

  .conset {
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    display: inline-block;
  }

  .workimg {
    margin-bottom: 20px;
  }

  .introductorytext {
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    justify-content: space-between;
    align-items: start;
    justify-items: stretch;
    width: 100%;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    position: static;
  }

  .cnintroduce {
    text-align: left;
    width: 100%;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 1em;
    line-height: 160%;
  }

  .work-link {
    text-align: center;
    margin: 0 auto;
  }

  .flex-block {
    flex-flow: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
  }

  .logoimg {
    align-self: center;
    width: 90%;
    margin: 20px auto;
    display: block;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .grid {
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 25vh;
    margin-bottom: 20vh;
    display: grid;
  }

  .div-block-6 {
    z-index: -2;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .menu-button {
    z-index: 2;
    clear: none;
    -webkit-text-fill-color: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/主視覺黑_more.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-clip: border-box;
    flex: 1;
    margin: 0 20px 20px;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .menu-button:active {
    display: none;
  }

  .menu-button.w--open {
    background-color: var(--the-grey);
    background-image: url('../images/主視覺黑_close.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    padding: 5%;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .new-bar {
    direction: ltr;
    text-align: justify;
    white-space: normal;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 17px;
    padding-top: 30px;
    padding-bottom: 26px;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    position: static;
  }

  .new-bar.w--current {
    background-color: red;
  }

  .div-block-7 {
    width: 100%;
    height: 15vh;
  }

  .div-block-8 {
    width: 100%;
    height: 90px;
    display: block;
  }

  .navbar_more {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .divbar {
    width: 100%;
    height: 3em;
    display: block;
  }

  .new-bar_home {
    direction: ltr;
    text-align: center;
    white-space: normal;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 17px;
    padding-top: 30px;
    padding-bottom: 26px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    position: static;
  }

  .new-bar_home.w--current {
    background-color: red;
  }

  .inter {
    margin-top: .3em;
    margin-right: 0;
    font-size: 1em;
    line-height: 1em;
  }

  .inter_all {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    text-align: left;
    flex-flow: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1em;
    line-height: 30px;
    display: flex;
  }

  .name {
    text-align: left;
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-size: 3.2em;
    font-weight: 800;
    line-height: 1em;
  }

  .inter_title {
    margin-bottom: 1em;
    font-size: .9em;
  }

  .enintroduce {
    text-align: left;
    font-size: .8em;
    line-height: 120%;
  }

  .logoimg_in {
    z-index: 10;
    width: 90%;
    margin: 20px auto;
    display: block;
    position: relative;
    top: auto;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .image-17 {
    object-fit: cover;
    width: auto;
    height: 100%;
    overflow: hidden;
  }

  .background_home {
    z-index: -2;
    height: 300%;
  }

  .home_nav {
    z-index: 5;
  }

  .navbar_close {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .scollbar {
    height: 1px;
  }

  .autoscolltop, .scolldownmusic {
    display: none;
  }

  .central-mark {
    position: absolute;
  }

  .info_text {
    z-index: -1;
    padding-top: 170px;
    font-size: 1.2em;
    line-height: 1.9em;
    position: relative;
    top: 45vh;
  }

  .to-top.w--current {
    height: 30em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info_text_2 {
    z-index: -1;
    grid-column-gap: 0em;
    grid-row-gap: 2.5em;
    padding-top: 50px;
    font-size: 1.5em;
    line-height: 1.9em;
    position: relative;
    top: 45vh;
  }

  .screenattention {
    display: none;
  }

  .info_text3 {
    z-index: 0;
    text-align: center;
    white-space: normal;
    word-break: normal;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
    padding-top: 0;
    font-size: 1em;
    line-height: 1.9em;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .info_en_3 {
    font-size: 1.6em;
  }

  .topnextbuter {
    flex: 0 auto;
    align-content: center;
    height: 150%;
    margin-top: auto;
    margin-bottom: .5em;
  }

  .topnextbuter.w--current {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .topandnext {
    flex-flow: wrap;
    justify-content: space-around;
    height: 3.5em;
    margin-bottom: 20em;
  }

  .topandnext.w--current {
    height: 30em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .peopleimg {
    width: 90dvw;
    height: 50dvh;
  }

  .peoplegrid {
    grid-column-gap: 7px;
    grid-row-gap: 18px;
    flex-flow: column;
    grid-template-rows: minmax(auto, 11.25em) auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 25vh;
    margin-bottom: 20vh;
    display: flex;
  }

  .peopleground {
    flex-flow: column;
    width: 100vw;
    display: flex;
  }

  .people_in {
    width: 100%;
    transition-property: none;
    overflow: hidden;
  }

  .people_in:hover {
    width: 100dvw;
  }

  .footer {
    padding-bottom: 11em;
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer_div {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footerlink {
    padding-top: 0;
    padding-bottom: .125em;
    font-size: 1.3em;
  }

  .heading-3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 2.1em;
  }

  .footer_info_text {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    font-size: 1.3em;
  }

  .footer_container {
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    display: block;
  }

  .footerlink2 {
    color: var(--the-light-grey);
    letter-spacing: 0;
    word-break: break-all;
    overflow-wrap: normal;
    font-size: .7em;
    font-weight: 600;
    line-height: 1.4em;
  }

  .footerlink2:hover {
    letter-spacing: 0;
    -webkit-text-stroke-width: 2px;
  }

  .allplayer_navbar {
    display: block;
  }

  .eyeball_body, .vroombody {
    background-image: none;
  }

  .eyeball_button {
    width: 90vw;
  }

  .dateads {
    z-index: 10;
    max-height: 30em;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    top: 30%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .dateparagraph {
    text-align: center;
    letter-spacing: 0;
  }

  .dateh3 {
    display: block;
  }

  .dateh4 {
    display: none;
  }

  .shoplist {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: auto;
    padding-top: 10%;
    padding-bottom: 0%;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0;
    transform: none;
  }

  .shoptxtlinl {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .shopgoods {
    border-left-style: none;
    border-right-style: none;
    width: 100vw;
    height: 70vh;
  }

  .shopcon {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .shoph1 {
    text-align: center;
  }

  .shopbody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: visible;
  }

  .shopbuy {
    justify-content: center;
    align-items: center;
    height: 3em;
    margin-bottom: 10px;
    display: inline-flex;
  }

  .shopcard, .shopspeace {
    display: none;
  }

  .shopgoodsh2 {
    margin-left: 10px;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .shopgoodinfo-b {
    font-size: .8em;
    line-height: 14px;
    right: 25%;
  }

  .shopgoodimg {
    object-fit: cover;
    height: 100%;
  }

  .shopgoodslogo {
    display: block;
  }

  .shopbuyphone {
    border-color: var(--black);
    background-color: var(--the-light-grey);
    color: var(--black);
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
  }

  .shopgoodsh2en {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .shopgoodsh2cn {
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    font-size: 1.5em;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .shopbuyphonediv {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: var(--the-red);
    border-radius: 20px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    position: relative;
  }

  .shopgoodsprcn {
    color: var(--black);
    text-align: center;
    word-break: keep-all;
    overflow-wrap: anywhere;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-family: Noto Sans TC, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5em;
    display: block;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }
}

#ballbutton.w-node-_5e73fadf-b30d-a7e6-3730-2e62d5fb6740-822eae81, #w-node-bc31d9cd-07f9-d5c2-e585-2e01893f320c-822eae81, #ballbutton.w-node-_1fc99e22-0843-9385-862a-fd89de3a822a-822eae81, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822b-822eae81, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822c-822eae81, #ballbutton.w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585d-822eae81, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585e-822eae81, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585f-822eae81, #ballbutton.w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56c-822eae81, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56d-822eae81, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56e-822eae81, #ballbutton.w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6d-822eae81, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6e-822eae81, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6f-822eae81, #ballbutton.w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73a-822eae81, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73b-822eae81, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73c-822eae81, #ballbutton.w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbe8-822eae81, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbe9-822eae81, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbea-822eae81, #ballbutton.w-node-dfae8ef4-4608-2894-f0c4-2caca82a9053-822eae81, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9054-822eae81, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9055-822eae81, #ballbutton.w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c1-822eae81, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c2-822eae81, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c3-822eae81, #ballbutton.w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587c-822eae81, #w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587d-822eae81, #w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587e-822eae81, #ballbutton.w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed85-822eae81, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed86-822eae81, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed87-822eae81, #w-node-_4a7f4eda-1a92-d677-06e3-cb4d0e0e4fd8-822eae81, #w-node-_4a7f4eda-1a92-d677-06e3-cb4d0e0e4fd9-822eae81, #w-node-_4a7f4eda-1a92-d677-06e3-cb4d0e0e4fda-822eae81, #w-node-_5e73fadf-b30d-a7e6-3730-2e62d5fb6740-ad9e96e8, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822a-ad9e96e8, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822b-ad9e96e8, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822c-ad9e96e8, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585d-ad9e96e8, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585e-ad9e96e8, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585f-ad9e96e8, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56c-ad9e96e8, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56d-ad9e96e8, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56e-ad9e96e8, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6d-ad9e96e8, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6e-ad9e96e8, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6f-ad9e96e8, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73a-ad9e96e8, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73b-ad9e96e8, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73c-ad9e96e8, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbe8-ad9e96e8, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbe9-ad9e96e8, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbea-ad9e96e8, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9053-ad9e96e8, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9054-ad9e96e8, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9055-ad9e96e8, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c1-ad9e96e8, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c2-ad9e96e8, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c3-ad9e96e8, #w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587c-ad9e96e8, #w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587e-ad9e96e8, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed85-ad9e96e8, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed86-ad9e96e8, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed87-ad9e96e8, #w-node-_5e73fadf-b30d-a7e6-3730-2e62d5fb6740-42ba65f3, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822a-42ba65f3, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822b-42ba65f3, #w-node-_1fc99e22-0843-9385-862a-fd89de3a822c-42ba65f3, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585d-42ba65f3, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585e-42ba65f3, #w-node-_0c8c3dbd-82b8-7598-73a8-3456d241585f-42ba65f3, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56c-42ba65f3, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56d-42ba65f3, #w-node-_07d7d3da-0d47-1f58-df8b-dd3d8febf56e-42ba65f3, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6d-42ba65f3, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6e-42ba65f3, #w-node-_8bef45b9-79a9-9c2a-9a25-2cf99aae6f6f-42ba65f3, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73a-42ba65f3, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73b-42ba65f3, #w-node-_2f0c5951-d3dd-dd15-1c2b-9b3dceb2a73c-42ba65f3, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbe8-42ba65f3, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbe9-42ba65f3, #w-node-_072d526d-05e3-5f50-8a0d-cfab042dfbea-42ba65f3, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9053-42ba65f3, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9054-42ba65f3, #w-node-dfae8ef4-4608-2894-f0c4-2caca82a9055-42ba65f3, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c1-42ba65f3, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c2-42ba65f3, #w-node-_478baba6-f364-f60f-0e7e-6f102fa8d7c3-42ba65f3, #w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587c-42ba65f3, #w-node-d9c76c5e-e743-fbb0-8308-0dd07c1e587e-42ba65f3, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed85-42ba65f3, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed86-42ba65f3, #w-node-b4a3f6e2-7dcf-c631-c5d1-8dd6c62eed87-42ba65f3, #w-node-_955b8bb4-b596-00fb-67b4-80fa5eaac3b6-42ba65f3, #w-node-_955b8bb4-b596-00fb-67b4-80fa5eaac3b7-42ba65f3, #w-node-_955b8bb4-b596-00fb-67b4-80fa5eaac3b8-42ba65f3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_14cbed50-f885-5763-efba-ddef65a11927-696f56ff {
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-dd2ddd78-3762-9d16-0930-1cab06736d8c-52286d2b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
    justify-self: start;
  }

  #w-node-_94d94bd2-8070-faec-1bdc-41ad6bea963e-52286d2b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_6d0364bb-dd6a-858e-5417-05dd99fcec64-52286d2b {
    grid-area: span 2 / span 2 / span 2 / span 2;
    align-self: start;
  }

  #w-node-_4ca02289-548f-46a1-e1c6-e055dfb1fba2-52286d2b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
    justify-self: start;
  }

  #w-node-_30b2e92d-4e8b-970a-f24f-f7f53c1a321e-52286d2b {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_311fc802-0000-e5d4-4a1b-8422c833c7aa-52286d2b, #w-node-_4a45261e-f364-6b22-aac2-f500fc009454-52286d2b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-a593f56f-af5f-d5d2-5f75-eaeeb6d6fa06-52286d2b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_1ba3ee6a-5376-e75f-9573-9b4260ac367d-ad9e96e8 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


